.App {
  display: flex;
  padding-top: 30px;
  justify-content: center;
}
label {
  display: flex;
  margin-bottom: 10px;
  font-size: 1.2rem;
}
input {
  width: 400px;
  padding: 5px 12px;
  display: block;
  background: #fff;
  color: rgb(30, 0, 163);
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1.1rem;
  font-family: kalameh-bold;
}
.formControl {
  margin-bottom: 20px;
}
button {
  width: 425px;
  font-family: kalameh-black;
  border: none;
  font-size: 1.1rem;
  height: 40px;
  margin-top: 20px;
  border-color: #d6bcd6;
  border-radius: 10px;
  box-shadow: 0 9px rgb(163, 163, 163);
  background: linear-gradient(#e7e6e6, #bab1bae8);
  cursor: pointer;
  transition: ease-in 0.25s;
}
button:hover {
  transform: translateY(4px);
  box-shadow: 0 4px rgb(163, 163, 163);
  background-color: rgb(223, 214, 255);
}
.error {
  width: 435px;
  margin-top: 5px;
  font-family: kalameh-bold;
  font-size: 1.1rem;
  color: red;
}
@media only screen and (max-width: 600px) {
  input {
    width: 200px;
  }
  button {
    width: 225px;
  }
}
