@font-face {
  font-family: kalameh-black;
  src: url(./fonts/KalamehWeb_Black.woff2);
}
@font-face {
  font-family: kalameh-bold;
  src: url(./fonts/KalamehWeb_Bold.ttf);
}
body {
  margin: 0;
  font-family: kalameh-black, kalameh-bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

